.wrapper {
  background: #f8f8f8;
  position: relative;
  z-index: 1000;
  transition: all 0.2s linear;
  padding-top: 44px;
  margin-top: -44px;
}

.ui-panel {
  padding-bottom: 5px;
  h2 {
    color: #222;
  }
  .ui-grid-trisect {
    li {
      position: relative;

      p {
        position: absolute;
        bottom: 0px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 14px;
        background: rgba(0,0,0,0.6);
        padding:0px 5px;
      }
    }
  }
}

.nav-slide {
  transform: translateX(80%);
}
